<div class="w-embed">
  <video muted autoplay="" loop="" style="width:100%; height: 90%; position:absolute; z-index: -1;">
    <source src="<%= @video_ref %>" type="video/mp4">
  </video>
</div>

<div class="row">
  <div class="large-12 medium-12 columns hello">
    <div class="hello-content" href="#/hello">
      <h1 class="hi"> NICK NOVAK <br/>
        <div class="stack">
          FULL STACK DEVELOPER
        </div>
      </h1>
    </div>
  </div>
</div>

<nav class="navigation-wrapper">
  <div class="buttons-wrapper">
    <ul>
      <a id="about-nav" href="#/about">
        <li>ABOUT</li>
      </a>
      <a id="work-nav" href="#/work">
        <li>WORK</li>
      </a>
      <a class='direct-link' href="https://github.com/nnovak13/portfolio_site/blob/master/portfolio_site/app/assets/images/Resume_nnovak_01.pdf?raw=true" target='_blank'>
        <li>RÉSUMÉ</li>
      </a>
    </ul>
  </div>
</nav>



<div class="row about">
  <div class="large-12 columns section-head">
    <h3 class="section-head"> About </h3>
  </div>
</div>
<div class="row">
  <div class="large-6 small-12 columns welcome">
    <h4 class="about-head"> Welcome </h4>
    <p> I'm a Full-Stack Developer looking for a position where I can expand my knowledge of programming in frameworks like Rails and Angular, work on a team, and solve problems creatively. </p>
  </div>
  <div class="large-6 small-12 columns contact">
    <h4 class="about-head">Contact</h4>
    <a href="mailto:nnovak13@gmail.com"> <i class="size-72 fi-mail"></i></a>
    <a class='direct-link' href="https://www.linkedin.com/in/nn0vak" target='_blank'> <i class="size-72 fi-social-linkedin"></i></a>
    <a class='direct-link' href="https://twitter.com/nnvak" target='_blank'> <i class="size-72 fi-social-twitter"></i></a>
    <a class='direct-link' href="https://github.com/nnovak13" target='_blank'> <i class="size-72 fi-social-github"></i></a>
  </div>
</div>
<div class="row">
  <div class="large-12 columns exp">
    <h4 class="about-head"> Technical Experience </h4>
    <p> Ruby on Rails | Jquery | Javascript | Angular | PostgreSql | HTML5 | CSS3 | Git</p>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns hello">
    <%= image_tag(("comp-git.JPG"),class:"profpic") %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns work-head">
    <h3 class="section-head"> Work </h3>
  </div>
</div>
<div class="row">
  <div class="large-12 large-centered columns work">
    <a href="http://congr3ss.herokuapp.com/" target='_blank' class="projtitle direct-link"> Congre$$ </a>
    <p id="piccaption"> My First App. Main theme: Political Transparency. <br/>It uses API's from Sunlight Labs and OpenSecrets to shed light on Congressional performance and finance.  </p>
    <%= image_tag(("politics_s.png"), class:"projpic") %><br>
    <hr>
    <a href="http://therealbobsbagels.herokuapp.com/" target='_blank' class="projtitle direct-link"> Bob's Bagels </a>
    <p id="piccaption"> A team project, experimenting with single page e-commerce and using the Stripe API. </p>
    <%= image_tag(("bagels.png"), class:"projpic") %><br>
    <hr>
    <div class="projtitle"> Sabes </div> (link not available)
    <p id="piccaption"> Also a team passion project, scaled for short to mid-term development. <br/> This is an ecommerce/news platform for artists who want to sell their creations and have proceeds go to charity. <br/>Sabes also wants to showcase local art galleries and artists with feature articles in a news site style. </p>
    <%= image_tag(("sabes.png"), class:"projpic") %><br>

  <a class="last_arrow" href="#/hello"><i class="size-48 fi-arrow-up"></i></a>
  </div>
</div>
